@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>"We will send you the best healthcare professionals out there</p>
    <p>BLA BLA BLA (Will create a sentence for this part soon)".</p>
    <a type="button" class="btn btn-outline-info">Create My Account</a>
</div
